header {
  text-align: center;
}
footer {
  text-align: center;
}
img {
  max-width: 100%;
}
/* section {
  gap: 20px;
} */
main {
  margin: 70px;
}
section {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(autofill, minmax(400px, 1fr));
}
/* @media (min-width: 650px) {
  section {
    /* grid-row: 2/3; */
/* display: flex;

    grid-template-columns: 1fr 1fr;
  }

  #1 {
    grid-column: 1/2;
  }
  #2 {
    grid-column: 2/3;
  } */
/* } */
